  
<link rel="alternate stylesheet" type="text/css" media="screen" title="layoutyellowLarger" href="static/style2.css" />
	
	<div id="accessText">
	<small>Change Display Size and Colour</small>
        <ul>
        	<li><a href="javascript:chooseStyle('none', 60)"><img src="index_files/images/access/A.png" alt="Default Text Size" width="16" height="15" /></a> </li>
        	<li><a href="javascript:chooseStyle('large', 60)"><img src="index_files/images/access/A.png" alt="Large Text Size" width="16" height="15"  /></a> </li>
        	<li><a href="javascript:chooseStyle('larger', 60)"><img src="index_files/images/access/A.png" alt="Larger Text Size" width=width="16" height="15"  /></a> </li>
			
			
			 	<li><a href="javascript:chooseStyle('layoutYellow', 60)"><img src="index_files/images/access/yellow.png" alt="Default Text Size" width="16" height="15"  /></a> </li>
        	<li><a href="javascript:chooseStyle('yellowLarge', 60)"><img src="index_files/images/access/yellow.png" alt="Yellow Large Text Size" width="16" height="15" /></a> </li>
      <!--  	<li><a href="javascript:chooseStyle('layoutyellowLarger', 60)"><img src="index_files/images/access/yellow.png" alt="Yellow Larger Text Size" width="33" height="23"  /></a> </li>-->
			
			
			

			
			
        </ul>
    </div>
	
