  
  <!---Access Button-->
     		<link rel="alternate stylesheet" type="text/css" media="screen" title="style" href="../css/style.css" />
		<link rel="alternate stylesheet" type="text/css" media="screen" title="style2" href="../css/style2.css" />
<link rel="alternate stylesheet" type="text/css" media="screen" title="style3" href="../css/style3.css" />

	
	<div id="accessText">
	<small>Change Display Size and Colour</small>
        <ul>
        	<li1><a href="javascript:chooseStyle('style', 60)"><img src="../static/image/normal.gif" alt="Default Text Size" width="16" height="15" /></a> </i1>
        	<i1><a href="javascript:chooseStyle('style2', 60)"><img src="../static/image/large.gif" alt="Large Text Size" width="16" height="15"  /></a> </i1>
        	<i1><a href="javascript:chooseStyle('style3', 60)"><img src="../static/image/xlarge.gif" alt="Larger Text Size" width=width="16" height="15"  /></a> </i1>
		
			<!-- 	<i1><a href="javascript:chooseStyle('larger', 60)"><img src="../static/image/Contrast.gif" alt="Larger Text Size" width=width="16" height="15"  /></a> </i1>
		
			-->
        </ul>
    </div>
<!--Access Button above-->