{% extends "layout.html" %}
{% block title %}Flashbang - About{% endblock %}
{% block banner %}About Flashbang{% endblock %}
{% block content %}
<p>
Flashbang aims is to make it simpler to study. We take Google Spreadsheets and turn them into randomised flash cards for you to practice almost anything! It's that simple!
</p>

<p>
At the moment we're still in beta so there are still some rough edges but feel free to <a href="/meta/create">make some flash cards of your own</a>!
</p>
{% endblock %}
