{% extends "layout.html" %}
{% block title %}Flashbang - Create Flash Cards{% endblock %}
{% block banner %}Create Flash Cards - Currently in Beta!{% endblock %}
{% block content %}
    <p>
    So you want to create your own randomised flashcards; you've come to the right place!
    </p>
    <p>
    First things first, you'll need go to <a href="https://docs.google.com/spreadsheets">Google Spreadsheet</a> and create a new spreadsheet. This is where the flashcards will draw all the questions/answers from.
    </p>
    <p>
    The first row should act as a header (so we know what each column is supposed to represent) and the first column should be where the questions go. You can have as many columns as you like but only the first column will be initially visable in the flashcards, the other columns will be considdered answer columns and the user will need to roll over or highlight them to see the answer.
    </p>
    <p>
    When you're happy with the spreadsheet, click File > Publish to the web.
    </p>
    <img src="{{ url_for('static', filename='create_1.png') }}"/>
    <p>
    This will open a dialog with two drop down menus, select your sheet from the first drop down and "Comma-separated values (.csv" from the second and click "Publish". You should get a pop up asking "Are you sure you want to publish this selection?", click "ok".
    </p>
    <img src="{{ url_for('static', filename='create_2.png') }}"/>
    <p>
    When you've done this, the dialog will change. A link will appear asking you to copy it with Ctrl+v and paste it in the form below along with a memorable name and click "Submit".
    </p>
    <p>
    At this point, you'll be redirected to your new flashcards.
    </p>

    <h1>BETA WARNING</h1>
    <p>
    Because this feature is in beta, we can't give you any guarentee that your new flash card sets won't get deleted or you won't experience other issues.
    </p>

    <p>
    If you feel like complaning about any issues, <a href="mailto:nicroland9@gmail.com"?Subject=Flashbang%20bug%20report" target="_top">send us a mail!</a> We'd appriciate the feedback; please include as much detail as you can and a set of steps to take to reproduce the problem (if you can).
    </p>

    <table style="width:100%">
        <tr>
            <th>Make your own!</th>
        </tr>
    </table>
    <br>
    <h1>
        <form action="/create" method="put">
              Spreadsheet Name:<br>
              <input type="text" name="name" value=""><br>
              Spreadsheet URL:<br>
              <input type="text" name="url" value=""><br><br>
              <input type="submit" formmethod="post" value="Submit">
        </form>
    </h1>
{% endblock %}
